<h1>Ivan the Terrible's Blog</h1>

<%= will_paginate @posts %>

<section class="blog">
<% @posts.each do |post| %>
  <section class="post">
    <h2><%= link_to post.title, post %></h2>
    <div><%= post.body %></div>
    <div class="post_nav">
      <%= link_to 'Edit', "/posts/#{post.to_param}/edit" %> |
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </section>
  <% end %>
</section>

<br />

<%= link_to 'New Post', new_post_path %>
