<p id="notice"><%= notice %></p>

<p>
  <h2><%= @post.title %></h2>
</p>

<p>
  <b><%= @post.body %></b>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<p>
  <b>Comments & Replies:</b>
<div class="comment">
  <% @post.comments.each do |c| %>
    <p><%= c.body %></p>
    <div class="reply">
      <% c.replies.each do |r| %>
        <p><%= r.body %></p>
      <% end %>
    </div>
  <% end %>
</div>
